{#
/**
 * @file
 * Default theme implementation to display a link.
 *
 * Available variables:
 * - tag: The links html tag e.g. `a`
 * - text: 
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - button: this link should probably be rendered as a button.
 *
 * @see template_preprocess_link()
 *
 * @ingroup themeable
 */
#}
<{{ tag }} {{ attributes }}>
  {{- text|raw -}}
</{{ tag }}>
